{% extends 'template_base.html' %}
{% load static %}
{% block titre %}Page d'accueil{% endblock %}

{% block body %}
<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        
        <form action="#">
            <div class="form-input" hidden>
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
 
        <a href="#" class="profile">
            <img src="{% static 'images/people.png'%}">
        </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'home' %}">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="{% url 'home' %}">Accueil</a>
                    </li>
                </ul>
            </div>

            {% if colored_mask_base64 %}
                <a href="#" class="btn-download">
                    <i class="fa-solid fa-print"></i>
                    <span class="text">Imprimer le rapport</span>
                </a>
            {% endif %}

        </div>
        <div class="container" id="print-content">
            {% if colored_mask_base64 %}
            <div class="row">
                <div class="col">
                    <h3 class="text-center">RAPPORT DE REPARTITION</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="Land-s">Terre</span><br><button class="Land"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="Vegetation-s">Vegetation</span><br><button class="Vegetation"></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="Water-s">Eau</span><br><button class="Water"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="Road-s">Route</span><br><button class="Road"></button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="Foot-s">Terrain</span><br><button class="Foot"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="Cultivated-s">Champs Cultivé</span><br><button class="Cultivated"></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="Uncultivated-s">Champs non Cultivé</span><br><button class="Uncultivated"></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <span class="Building-s">Bâtiments</span><br><button class="Building"></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row mt-4">
                <div class="col box-container-up">
                    {% if message %}
                        <h3 class="error">{{message}}</h3>
                        <div class="refresh" >
                            <a href="{% url 'home' %}">Insérer une image</a>
                        </div>
                    {% else %}
                        {% if colored_mask_base64 %}
                            
                            <div class="row">
                                <div class="col">
                                    <img src="data:image/jpeg;base64,{{ image_base64 }}" alt="Image" class="mask">
                                </div>
        
                                <div class="col">
                                    <img src="data:image/jpeg;base64,{{ colored_mask_base64 }}" alt="Colored Mask" class="mask">
                                </div>
                            </div>
                        {% else %}
                            <div class="file">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col text-center file-0" id="file-drop-area">
                                            <input type="file" name="file" id="file-input" hidden>
                                            <label for="file-input" id="file-label" class="download">
                                                <i class='bx bxs-down-arrow-circle' ></i>
                                                <h6 class="im1">Charger une image</h6>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col">
                                            <input type="submit" name="submit" class="detect" id="submit" value="Générer">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="telechargement" id="spinnerDiv">
                                <h3>Cette opération peut prendre quelques minutes...</h3>
                                <div class="spinner mt-4"></div>
                            </div>                            
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if classes and percentages %}
                <div class="row mt-3">
                    <div class="col box-container-down">
                        <div style="height:60.5vh; width:100%;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col box-container-down">
                        
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">classes</th>
                                    <th scope="col">taux de présence</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Bâtiments</td>
                                    <td id="building" data-building="{{Building|floatformat:'2' }}">{{Building|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Terre</td>
                                    <td id="land" data-land="{{Land|floatformat:'2' }}">{{Land|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Routes</td>
                                    <td id="road" data-road="{{Road|floatformat:'2' }}">{{Road|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Végétation</td>
                                    <td id="vegetation" data-vegetation="{{Vegetation|floatformat:'2' }}">{{Vegetation|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Eau</td>
                                    <td id="water" data-water="{{Water|floatformat:'2' }}">{{Water|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Champs cultivés</td>
                                    <td id="cultivated" data-cultivated="{{Cultivated_field|floatformat:'2' }}">{{Cultivated_field|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Champs non cultivés</td>
                                    <td id="uncultivated" data-uncultivated="{{Uncultivated_field|floatformat:'2' }}">{{Uncultivated_field|floatformat:"2" }} %</td>
                                </tr>
                                <tr>
                                    <td>Terrain de football</td>
                                    <td id="football" data-football="{{Football_field|floatformat:'2' }}">{{Football_field|floatformat:"2" }} %</td>
                                </tr>
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            {% endif %}
        </div>
    </main> 
</section>
<!-- CONTENT -->

{% endblock %}
